@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

html, body {
    height: 100%;
    min-height: 100%;
    background: #000;
    color:#fff;
    font-family: 'Open Sans Condensed', sans-serif;
}
.container-fluid {
    height: 100%;
    min-height: 100%;
}

.header {
        height: 30%;
    min-height: 30%;
}

.middle {
        height: 50%;
    min-height: 50%;
}

.footer {
        height: 20%;
    min-height: 20%;
}

h1 {
    font-weight: normal;
    font-size:60px;
}

/*
* Weather display
*/
div#weatherInfo {
    font-size:60px;
}

/*
* Clock display
*/
span#datetime {
    font-size:60px; 
}