@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

html, body {
    height: 100%;
    min-height: 100%;
    background: #000;
    color:#fff;
    font-family: 'Open Sans Condensed', sans-serif;
}
.container-fluid {
    height: 100%;
    min-height: 100%;
}

.header {
        height: 30%;
    min-height: 30%;
}

.middle {
        height: 50%;
    min-height: 50%;
}

.footer {
        height: 20%;
    min-height: 20%;
}

h1 {
    font-weight: normal;
    font-size:60px;
}

/*
* Weather display
*/
span.temp-wind {
    font-size:30px;
    width:100%;
}

span.sunsetrise {
    font-size:20px;
    width:100%;
    color: #c6c8ca;
}

/*
* Clock display
*/
span#datetime {
    font-size:30px;
}

/*
* News feed
*/
div#newsFeed {
    font-size:22px;
}